## 1. Complete the following code to find the area of an equilateral triangle. Output should be as displayed

In [2]:
import math
side = float(input("Enter the side of the equilateral triangle: "))
area = ((math.sqrt(3))/4)*pow(side,2)
print("Area=",round(area,3))

Enter the side of the equilateral triangle: 4
Area= 6.928

## 2. Write a program to count the number of each characters in a string

In [12]:
List=[]
Str=input("Enter your string:")
for i in Str:
    if i in List:
        continue
    else:
        List.append(i) 
    print(i,"=",Str.count(i))

Enter your string:ICT Academy
I = 1
C = 1
T = 1
  = 1
A = 1
c = 1
a = 1
d = 1
e = 1
m = 1
y = 1

## Write a program to find the area and perimeter of a rectangle using functions

In [21]:
def area(l,b):
    return(l*b)
def perimeter(l,b):
    return(2*(l+b)) 
l=int(input("Enter the length of the rectangle:"))    
b= int(input("Enter the breadth of the rectangle:"))
print("Area=",area(l,b))
print("Perimeter=",perimeter(l,b))

Enter the length of the rectangle:25
Enter the breadth of the rectangle:20
Area= 500
Perimeter= 90

## 4. Write a program to print the fibonacci series till a specified number

In [31]:
s=int(input("Enter number of series:"))
c=0
a=0
b=1
print("The fibonacci series for the given sequence of numbers:",a)
print(b)
if [count<s]:
    for i in range(2,s):
     temp=a+b
     a=b
     b=temp
     print(temp)  
     c=c+1

Enter number of series:10
The fibonacci series for the given sequence of numbers: 0
1
1
2
3
5
8
13
21
34

## 5. Complete the following code to find the minimum of 3 number using cinditional statements. Output should be as displayed

In [ ]:
a,b,c = input("Enter three numbers followed by  : ").split()

print("First number :",a)
print("Second number :",b)
print("Third number :",c)

    print("Entered numbers are equal!!!")

    print(a," is smallest")

    print(b," is smallest")

    print(c," is smallest")

In [36]:
a,b,c = input("Enter three numbers followed by space : ").split()

print("First number :",a)
print("Second number :",b)
print("Third number :",c)
if(a==b==c):
   print("Entered numbers are equal!!!")
elif(a<b and a<c):
  print(a,"is the smallest number")
elif(b<a and b<c):
  print(b," is smallest") 
else:
  print(c," is smallest")

Enter three numbers followed by space : 23 15 68
First number : 23
Second number : 15
Third number : 68
15  is smallest

## 6. Write a program to print star pyramind. The number of rows should be taken as input from the user

In [42]:
r=int(input('Enter number of rows'))
for i in range(0,r):
    for j in range(0,i+1):
        print("*",end="")
    print('\r')

Enter number of rows20
*
**
***
****
*****
******
*******
********
*********
**********
***********
************
*************
**************
***************
****************
*****************
******************
*******************
********************

## 7. Complete the following code to convert hour into seconds. Output should be as displayed

In [43]:
def to_seconds(t):
    t=t*3600
    return t
time_in_hours = int(input("Enter time in hours"))
print(time_in_hours ," Hour is equal to" ,to_seconds(time_in_hours) ," Seconds")

Enter time in hours1
1  Hour is equal to 3600  Seconds

## 8. Write a program to print multiplication table as below

In [48]:
n=int(input("Enter a number to find the multiplication table:"))
for i in range(1,11):
 print(i,"x",n,"=",n*i)

Enter a number to find the multiplication table:4
1 x 4 = 4
2 x 4 = 8
3 x 4 = 12
4 x 4 = 16
5 x 4 = 20
6 x 4 = 24
7 x 4 = 28
8 x 4 = 32
9 x 4 = 36
10 x 4 = 40

## 9. Write a program to take your 5 favorite food as list and print each as 'I like Biriyani'

In [50]:
f=input("Enter your favourite list of foods:").split()
for i in f:
    print("I like",i)

Enter your favourite list of foods:Apple Biriyani Orange
I like Apple
I like Biriyani
I like Orange

## 10. Find error(s) in the following code(if any) and rewrite code.

In [55]:
x= int(input("Enter value of x:"))
for y in range (0,10):
     if x==y:
          print("They are equal")
     else:
          print( "They are unequal")

Enter value of x:5
They are unequal
They are unequal
They are unequal
They are unequal
They are unequal
They are equal
They are unequal
They are unequal
They are unequal
They are unequal